*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
main{
    height: 100vh;
    max-height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    background-color: #C8BEBD;
    color: #03045E;
    display: flex;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    padding: 3em;
    height: 5vh;
    width: 100%;
}
header .listname{
    margin: 5px 30px;
    width: auto;
    padding-right: 3em;
}
header .listname h1{
    font-size: 2.5em;
}
header .search{
    position: relative;
    width: 75%;
    margin: 30px 0;
}
header input{
    width: 100%;
    height: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid #020472;
    border-radius: 40px;
    font-size: 1.2em;
    color: #000;
    padding: 10px 20px;
}
header .addtask {
    width: auto;
    margin-left: 2vh;
}
header .addtask .btn{
    width: 20vh;
    height: 45px;
    padding: 10px 20px;
    color: #fff;
    background-color: #020472;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1.2em;
    font-weight: 600;
}
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 5vh);
}
.content .box{
    width: 24%;
    padding: 1%;
    margin: 1%;
    background-color: #ccc9c9;
    border-radius: 30px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    height: 5vh;
    width: 100%;
    margin-bottom: 5%;
}
.header .status{
    width: 60%;
    height: 45px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1.3em;
    font-weight: 300;
}
.header img{
     margin-left: 25%;
 }
.header .counter{
    color: #020472;
    font-size: 1.5em;
}
.content .box .task{
    height: 75px;
    width: 100%;
    text-align: center;
    background-color:#d6d4d4;
    border-radius: 10px;
    margin-bottom: 5%;
}
.content .box .task .title{
    height: 25%;
    width: 65%;
    float: left;
}
.content .box .task .data{
    height: 25%;
    width: 35%;
    float: left;
}
.content .box .task .description{
    height: 75%;
    width: 75%;
    float: left;
}
.content .box .task .id{
    height: 50%;
    width: 25%;
    float: left;
}