*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
main{
    height: 100vh;
    max-height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    background-color: #C8BEBD;
    color: #03045E;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    padding: 3em;
    height: 5vh;
    width: 100%;
}
header .listname{
    margin: 5px 30px;
    width: auto;
    padding-right: 3em;
}
header .listname h1{
    font-size: 2.5em;
}
header .search{
    position: relative;
    width: 75%;
    margin: 30px 0;
}
header input{
    width: 100%;
    height: 50%;
    background-color: transparent;
    outline: none;
    border: 2px solid #020472;
    border-radius: 40px;
    font-size: 1.2em;
    color: #000;
    padding: 10px 20px;
}
header .addtask {
    width: auto;
    margin-left: 2vh;
}
header .addtask .btn{
    width: 20vh;
    height: 45px;
    padding: 10px 20px;
    color: #fff;
    background-color: #020472;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1.2em;
    font-weight: 600;
}
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 5vh);
}
.content .box{
    transition: 0.5s;
    width: 24%;
    padding: 1%;
    margin: 1%;
    background-color: #ccc9c9;
    border-radius: 30px;
}
.content .box .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    height: 5vh;
    width: 100%;
    margin-bottom: 5%;
}
.content .box .header .status{
    width: 60%;
    height: 45px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1.3em;
    font-weight: 300;
}
.content .box .header img{
     margin-left: 25%;
 }
.content .box .header .counter{
    color: #020472;
    font-size: 1.5em;
}
.content .box .task{
    height: 75px;
    width: 100%;
    text-align: center;
    background-color:#d6d4d4;
    border-radius: 10px;
    margin-bottom: 5%;
}
.content .box .task .title{
    height: 25%;
    width: 65%;
    float: left;
}
.content .box .task .data{
    height: 25%;
    width: 35%;
    float: left;
}
.content .box .task .description{
    height: 75%;
    width: 75%;
    float: left;
}
.content .box .task .id{
    height: 50%;
    width: 25%;
    float: left;
}
.contentdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 70vh;
    height: 30vh;
    border: 1px solid black;
    background-color: #d6d4d4;
}
.form{
    height: 100%;
    width: 100%;
}
.Title{
    margin: 2% 4%;
    width: 92%;
    height: 8%;
    position: relative;
}
.Description{
    margin: 2% 4%;
    width: 92%;
    height: 15%;
    position: relative;
}
.RadioInput{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5%;
    width: 40%;
    float: left;
}
input[type="radio"]{
    width: 20px;
}
.labelStatusTask{
    margin: 10%;
    width: 55%;
}
.labelPriorityTask{
    margin: 10%;
    width: 55%;
}
.element{
    height: 1%;
}
input[name="Title"], input[name="Description"]{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: black;
    background: none;
    font-size: 15px;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.labelDescription {
    left: 20px;
    font-size: 20px;
}
.labelTitle {
    top: -5px;
    left: 20px;
    font-size: 15px;
}
.labelTitle, .labelDescription{
    position: absolute;
    color: black;
    pointer-events: none;
    transform: translateY(10px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[name="Title"]:focus, input[name="Description"]:focus,
input[name="Title"]:valid, input[name="Description"]:valid{
    outline: none;
    border: 1px solid #080ba8;
}
input[name="Title"]:focus~ .labelTitle, input[name="Description"]:focus~ .labelDescription,
input[name="Title"]:valid~ .labelTitle, input[name="Description"]:valid~ .labelDescription{
    transform: translateY(-50%) scale(0.8);
    background-color: #10128d;
    padding: 2px;
    color: #fff;
}
.form input[type="submit"]{
    color: #fff;
    background-color: #020472;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 1em;
}