<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/formAnimationPlaceholder.css">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li>
                <a th:href="@{/}">
                    <span class="icon"><img src="/css/image/home.svg" width="30px"></span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a th:href="@{/list}">
                    <span class="icon"><img src="/css/image/list.svg" width="30px"></span>
                    <span class="text">List after login</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin}">
                    <span class="icon"><img src="/css/image/list.svg" width="30px"></span>
                    <span class="text">Admin</span>
                </a>
            </li>
            <div class="bottom">
                <li>
                    <a href="#">
                        <span class="icon"><img src="/css/image/account.svg" width="30px"></span>
                        <span class="text">Account</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><img src="/css/image/logout.svg" width="30px"></span>
                        <span class="text">Log Out</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/login}">
                        <span class="icon"><img src="/css/image/login.svg" width="30px"></span>
                        <span class="text">Login</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
    <main>
        <div class="content">
            <form th:action="@{/register}" method="post" autocomplete="off">
                <h1>Register</h1>
                <div class="input-box">
                    <div class="taskinput">
                        <input required="" type="text" name="userName" class="input">
                        <label class="label">Username</label>
                    </div>
                    <img src="/css/image/user.svg" width="30px">
                </div>
                <div class="input-box">
                    <div class="taskinput">
                        <input required="" type="text" name="email" class="input">
                        <label class="label">Email</label>
                    </div>
                    <img src="/css/image/mail.svg" width="30px">
                </div>
                <div class="input-box">
                    <div class="taskinput">
                        <input required="" type="password" name="password" class="input">
                        <label class="label">Password</label>
                    </div>
                    <img src="/css/image/lock.svg" width="30px">
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </main>
</body>
</html>